<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2>会員ログイン</h2>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded" %>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード" %><br>
          <%= f.password_field :password, autocomplete: "curren-password", class: "rounded" %>
        </div>
        <div class="field">
          <%= f.submit "ログインする", class: "btn btn-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>